[user]
	name = Jules Wiriath
	email = jules@wiriath.com

[advice]
	detachedHead = false

[core]
	editor = helix

[color]
	ui = always
	branch = always
	diff = always
	interactive = always
	status = always

[filter "lfs"]
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f

[push]
	autoSetupRemote = true

[pull]
	rebase = true

[init]
	defaultBranch = main

[rerere]
	enabled = true

[includeIf "gitdir:~/hsh/workspace/hexa/"]
	path = "~/.config/gitcfg/hexaglobe"

[includeIf "gitdir:~/hsh/workspace/assistants/"]
	path = "~/.config/gitcfg/epita"

[includeIf "gitdir:~/hsh/workspace/perso/"]
	path = "~/.config/gitcfg/perso"
