[advice]
	detachedHead = false

[alias]
	root = !git rev-parse --show-toplevel

	deleted = ls-files --deleted
	gitignored = ls-files -o -i --exclude-standard
	modified = ls-files --modified
	remotes = remote -v
	staged = ls-files --staged
	untracked = ls-files --other --exclude-standard

	a = !git add -A && git s

	b = branch
	ba = branch --all
	bd = branch -D

	bs = bisect
	bsb = bisect bad
	bsg = bisect good
	bsr = bisect reset

	c = commit
	ca = commit --amend
	cane = commit --amend --no-edit
	canera = commit --amend --no-edit --reset-author

	co = checkout
	col = checkout HEAD~1
	ours = checkout --ours
	theirs = checkout --theirs

	cl = clone

	d = diff
	ds = diff --staged

	f = fetch

	gcf = !git gc --prune=now --aggressive && git clean -fd && git reflog expire --expire=now --all && git repack -ad && git prune

	grep = grep -in

	l = log --oneline

	ls = ls-files

	p = push
	pom = push origin main
	pf = push --force-with-lease
	pff = push --force-with-lease --force-if-includes

	pl = pull

	rb = rebase
	rba = rebase --abort
	rbc = rebase --continue
	rbi = rebase -i
	rbroot = rebase -i --root
	rbskip = rebase --skip

	rh = reset --hard

	rmc = rm --cached -r
	rmcf = rm --cached -rf

	rstr = restore
	rstrs = restore --staged

	rmt = remote
	rmta = remote add
	rmtrm = remote rm
	rmtv = remote -v

	rsts = reset --soft
	rsthd = reset HEAD --

	s = status

	sw = switch
	swc = switch -c

	st = stash
	std = stash drop
	stl = stash list
	stp = stash pop

[apply]
	ignorewhitespace = change
	whitespace = nowarn

[branch]
	autosetupmerge = true
	sort = -committerdate

[color]
	branch = always
	diff = always
	interactive = always
	status = always
	ui = always

[commit]
	verbose = true

[core]
	autocrlf = false
	editor = helix
	mergeoptions = --no-edit
	pager = delta
	whitespace = trailing-space,-space-before-tab,tab-in-indent,cr-at-eol

[delta]
	dark = true
	line-numbers = true
	navigate = true
	true-color = always

[diff]
	renamelimit = 0
	renames = copy
	submodule = log

[fetch]
	prune = true
	recurseSubmodules = true

[filter "lfs"]
	clean = git-lfs clean -- %f
	process = git-lfs filter-process
	required = true
	smudge = git-lfs smudge -- %f

[help]
	autocorrect = 1

[init]
	defaultBranch = main

[pull]
	rebase = true

[push]
	autoSetupRemote = true
	default = upstream
	followTags = true
	rebase = true

[rerere]
	enabled = true

[user]
	email = jules@wiriath.com
	name = Jules Wiriath

[includeIf "gitdir:~/hsh/workspace/assistants/"]
	path = "~/.config/gitcfg/epita"

[includeIf "gitdir:~/hsh/workspace/hexa/"]
	path = "~/.config/gitcfg/hexaglobe"

[includeIf "gitdir:~/hsh/workspace/perso/"]
	path = "~/.config/gitcfg/perso"
