[advice]
	detachedHead = false

[alias]
	root = !cd $(git rev-parse --show-toplevel)

	deleted = ls-files --deleted
	gitignored = ls-files -o -i --exclude-standard
	modified = ls-files --modified
	remotes = remote -v
	staged = ls-files --staged
	untracked = ls-files --other --exclude-standard

	a = !git add -A && git s

	b = branch
	ba = branch --all
	bd = branch -D

	bs = bisect
	bsb = bisect bad
	bsg = bisect good
	bsr = bisect reset

	c = commit
	ca = commit --amend
	cane = commit --amend --no-edit
	canera = commit --amend --no-edit --reset-author

	co = checkout
	col = checkout HEAD~1
	ours = checkout --ours
	theirs = checkout --theirs

	d = diff
	ds = diff --staged

	gc = gc --prune=now --aggressive

	grep = grep -in

	l = log --oneline

	ls = ls-files

	p = push
	pom = push origin main
	pf = push --force-with-lease

	pl = pull

	rb = rebase
	rba = rebase --abort
	rbc = rebase --continue
	rbi = rebase -i
	rbroot = rebase -i --root
	rbskip = rebase --skip

	rh = reset --hard

	rmc = rm --cached -r
	rmcf = rm --cached -rf

	rstr = restore
	rstrs = restore --staged

	rmt = remote
	rmta = remote add
	rmtrm = remote rm
	rmtv = remote -v

	rsts = reset --soft
	rsthd = reset HEAD --

	s = status

	sw = switch
	swc = switch -c

	st = stash
	std = stash drop
	stl = stash list
	stp = stash pop

[apply]
	ignorewhitespace = change
	whitespace = nowarn

[branch]
	autosetupmerge = true

[color]
	ui = always
	branch = always
	diff = always
	interactive = always
	status = always

[core]
	mergeoptions = --no-edit
	editor = helix
	whitespace = trailing-space,-space-before-tab,tab-in-indent,cr-at-eol

[diff]
	renamelimit = 0
	renames = copy

[filter "lfs"]
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f

[help]
	autocorrect = 1

[init]
	defaultBranch = main

[pull]
	rebase = true

[push]
	rebase = true
	followTags = true
	autoSetupRemote = true
	default = upstream

[rerere]
	enabled = true

[user]
	name = Jules Wiriath
	email = jules@wiriath.com

[includeIf "gitdir:~/hsh/workspace/assistants/"]
	path = "~/.config/gitcfg/epita"

[includeIf "gitdir:~/hsh/workspace/hexa/"]
	path = "~/.config/gitcfg/hexaglobe"

[includeIf "gitdir:~/hsh/workspace/perso/"]
	path = "~/.config/gitcfg/perso"
