//@theme "/usr/share/rofi/themes/android_notification.rasi"
//@theme "/home/ali/.local/share/rofi/themes/simple-tokyonight.rasi"
//@theme "/home/ali/.local/share/rofi/themes/rounded-gray-dark.rasi"
@theme "/home/ali/.local/share/rofi/themes/rounded-gray-dark.rasi"
